.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  .poolsSec {
    display: flex;
    flex-direction: column;
    width: 100%;
    h2 {
      margin: 20px 0;
    }
    .pools {
      overflow-x: scroll;
      display: flex;
      scroll-behavior: smooth;
      justify-content: center;
      height: 400px;
      padding-top: 40px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .roll {
      width: 100%;
      display: flex;
      justify-content: center;
      span {
        margin: 10px;
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}
