.wrapper {
  height: 410px;
  width: 324px;
  margin: 0 14px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  border: 1px solid black;
  padding: 10px 16px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: translateY(-10px);
  }
  .pic {
    border-radius: 20px;
  }
  span {
    width: 100%;
  }
  .name {
    font-size: 18px;
    font-weight: 500;
  }
  .location {
    font-size: 14px;
  }
}
